# Security
.env

# Python System
__pycache__/
venv/
*.pyc

# Telegram Session & Data
*.session
data/raw/*
logs/

# AI Models (Too large for GitHub)
*.pt
*.onnx

# dbt artifacts
medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/

# IDE
.vscode/